@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --base-font: 'Poppins', sans-serif;
  
  --primary-color: #092D38;
  --secondary-color: #065E7C;
  --rows-color: #06161B;
  --input-color: #0d262c;
  --remove-red: #F75A68;
  --text-color: #fff;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: black;
}

body * {
  font-family: var(--base-font);  
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  max-width: 70vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem 0 5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0;
}

header h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

.logo {
  width: 15vw;
}

.search-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-wrapper input {
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;
  border-radius: .5rem;
  border: none;
  background-color: var(--input-color);
  color: var(--text-color);
  width: 30vw;
}

.search-wrapper button {
  background-color: var(--secondary-color);
  padding: 1.2rem 3.2rem;
  border-radius: .5rem;
  border: none;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-wrapper button:hover,
.search-wrapper button:focus {
  filter: brightness(1.1);
}

.search-wrapper .star {
  width: 2rem;
  height: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1rem;
  box-shadow: 2rem 2rem 3rem -1rem rgba(6, 94, 124, 0.562);
  transition: scale .4s linear;
}

table:hover {
  scale: 1.01;  
}

table * {
  font-size: 1.6rem;
  color: var(--text-color);
}

thead th { 
  background-color: var(--primary-color);
  text-align: left;
  font-weight: 500;
  padding: 1.5rem;
}

thead th:first-child {
  border-top-left-radius: 1rem;
}

thead th:last-child {
  border-top-right-radius: 1rem;
}

tbody td {
  padding: 1.5rem;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: var(--rows-color);
}

tbody tr:nth-child(odd){
  background-color: rgba(var(--rows-color), .5);
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}

tbody .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

tbody .user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

tbody .user a {
  text-decoration: none;
}

tbody .user a p {
  font-weight: bold;
}

tbody .action button {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--remove-red);
  transition: scale .4s linear;
}

tbody .action button:hover,
tbody .action button:focus {
  scale: 1.1;
}
